.about {
    margin: 0 auto;
    position: relative;
}
.abou__img {
    display: block;
    width: 320px;
    height: 235px;
    margin: 0 auto;
}

.about__title {
    position: absolute;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: @basic-white;
    margin-top: 18px;
    width: 290px;
    text-align: center;
}

.about__text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.466667px;
    padding: @mobile-padding;
    margin: 20px auto;
}