.contacts {
    padding: 30px 26px 25px 35px;
    border-bottom: 1px solid #D7D9DF;

    @media (min-width: @tablet) {
        padding: 0 26px 30px 50px;
    }
}

.contacts__title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;

    @media (min-width: @tablet) {
        text-align: start;
    }
}

.contacts__mail {
    display: block;
    width: 220px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 17px;
    color: @light-pink;
    text-align: center;
    margin-top: 25px;
    position: relative;
    right: -17px;

    @media (min-width: @tablet) {
        right: -20px;
        margin-top: 27px;
    }

    &::before {
        position: absolute;
        content: "";
        width: 26px;
        height: 20px;
        background: url("../img/mail-icon.svg");
        left: -35px;
    }
}

.contacts__phone {
    display: block;
    width: 170px;
    margin: 0 auto;
    line-height: 32px;
    color: @light-pink;
    text-align: center;
    margin-top: 26px;
    position: relative;
    right: -12px;

    @media (min-width: @tablet) {
        margin-top: 24px;
        right: 0;
    }

    &::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        background: url("../img/phone-icon.svg");
        left: -38px;
    }
}