.corporate-travel {
  padding: @mobile-padding;
  padding-top: 30px;
  padding-bottom: 25px;

  @media (min-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @desktop) {
    grid-column-start: auto;
    grid-column-end: auto;
    padding-top: 0;
    border-left: 1px solid @light-grey-5;
    padding-bottom: 0;
  }
}

.corporate-travel__title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: center;

  @media (min-width: @desktop) {
    text-align: start;
  }
}

.corporate-travel__text {
  margin: 0;
  margin-top: @indent;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @light-grey-3;

  @media (min-width: @desktop) {
    text-align: start;
  }
}
