.page-header__row-wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin: 0 auto;

    @media (min-width: @tablet) {
      width: 768px;
    }

}

.page-header__logo {
    display: block;
    width: 44px;
    height: 17px;
    margin: 0;
    margin-left: 16px;
    margin-top: 18px;
    margin-bottom: 14px;

    @media (min-width: @tablet) {
      margin-left: 21px;
    }
}

.page-header__toggle {
    display: block;
    height: 50px;
    width: 50px;
    border: none;
    background-color: @light-pink;
    cursor: pointer;

    @media (min-width: @tablet) {
      width: 72px;
    }
  
    @media (min-width: @desktop) {
      display: none;
    }
  }
  
  .page-header__toggle--nojs {
    display: none;
  }
  
  .page-header__toggle--close {
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  
  .page-header__toggle--open {
    background-image: url("../img/menu-close.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  