.page-footer {
  @media (min-width: @tablet) {
    margin: 0 auto;
    display: grid;
    width: @tablet;
    grid-template-columns: 395px 331px;
    padding: @tablet-padding;
    padding-top: 80px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop) {
    width: @desktop-content;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 160px 5px 74px 5px;
  }
}
