.places {
    margin: 0 auto;
    margin-top: 80px;
}

.places__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0;

    @media (min-width: @tablet) {
        font-size: 30px;
        line-height: 45px;
    }
}

.places__description {
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.466667px;
    color: @light-grey-2-07;
    padding: @mobile-padding;
    margin: 0 auto;
    margin-top: @indent;

    @media (min-width: @tablet) {
        width: 350px;
        padding: 0;
        margin-top: 20px;
    }
}

.places__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    list-style: none;
    margin: 0 auto;
    margin-top: @indent;
    padding: @mobile-padding;

    @media (min-width: @tablet) {
        width: 616px;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 40px;
        gap: 40px;
        justify-content: space-around;
    }
}

.places__item {
    width: 288px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.places__img {
    display: block;
    width: 288px;
    height: 425px;
    margin: 0 auto;
}
.places__item-title {
    width: 215px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.415px;
    background-color: @basic-white;
    margin: 0 36px;
    padding: 16px 0;
    position: absolute;
    bottom: 0;
}