.places {
    margin: 0 auto;
    margin-top: 80px;
}

.places__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.places__description {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.466667px;
    color: @light-grey-2-07;
    padding: @mobile-padding;
    margin: 0;
    margin-top: 20px;
}

.places__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    list-style: none;
    margin: 0 auto;
    padding: @mobile-padding;
}

.places__item {
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.places__img {
    display: block;
    width: 288px;
    height: 425px;
    margin: 0 auto;
}
.places__item-title {
    width: 215px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.415px;
    background-color: @basic-white;
    margin: 0 36px;
    padding: 15px 0;
    position: absolute;
    bottom: 0
}