.reviews {
    width: 320px;
    min-height: 415px;
    // background-image: url("../img/reviews/reviews_background@2x.jpg");
    // background-size: 320px auto;
    // background-repeat: no-repeat;
    margin: 0 auto;
    // background-color: @light-grey;

}

// .present {
//     width: 280px;
//     height: 289px;
//     background-image: url("../img/background-img/present-mobile.jpg");
//     background-size: auto 100%;
//     background-repeat: no-repeat;
//     margin: 0 auto;
//     margin-top: 35px;
//     background-color: @special-green-1;
  
//     @media (min-resolution: 2dppx) {
//       background-image: url("../img/background-img/present-mobile@2x.jpg");
//     }

.reviews__content-wrapper {
    width: 268px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: @basic-white;
    padding: @mobile-padding;
    padding-bottom: 34px;
}
.reviews__title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.691667px;
    margin: 0;
    position: relative;
    width: 100%;

    &::after {
        position: absolute;
        content: "";
        width: 68px;
        height: 1px;
        background-color: @light-pink;
        margin: 0 100px;
        bottom: -10px;
        left: 0;


    }
}

.reviews__text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.408333px;
}

.reviews__foto {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.reviews__name {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.466667px;
    text-align: center;
    margin: 0;
    margin-top: 10px;

}