.tours {
    margin: 0 auto;
}

.tours__card {
    margin-top: 24px;
}

.tours__card-title {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin: 0;
}

.tours__card-text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.466667px;
    color: @light-grey-2-07;
    padding: mobile-padding;
    margin: 0;
    margin-top: 20px;
}

.tours__card-button {
    margin-top: 20px;
    margin-bottom: 50px;
}

.tours__navigation-list {
    border-bottom: 1px solid @light-grey-2-03;
}